[Desktop Entry]
Name=xpl-f - File Explorer
Comment=File Explorer
Exec=alacritty --class xpl-f -e /usr/bin/xpl-f
Icon=xpl-f
Type=Application
Terminal=false
StartupWMClass=xpl-f
Categories=Utility;
Keywords=find;files;search;
