[Desktop Entry]
Name=xpl-f - File Explorer
Comment=File Explorer
Exec=/usr/bin/xpl-f
Icon=xpl-f
Type=Application
Terminal=true
Categories=Utility;
Keywords=find;files;search;
